@import "styles.scss";

@mixin buttonStyles {
  @include card;
  @include font;
  margin: 5px;
  text-transform: uppercase;
  background: #00c6ae;
}

@mixin buttonStylesHover {
  box-shadow: 1px 6px 6px $shadow;
  cursor: pointer;
}

.button {
  @include buttonStyles;
  width: 193px;
  height: 60px;
  box-shadow: 0px 4px 0px $shadow;
}

.icon {
  @include buttonStyles;
  width: 32px;
  height: 32px;
  box-shadow: 0px 2px 0px $shadow;
}

.button:hover {
  @include buttonStylesHover;
}

.icon:hover {
  @include buttonStylesHover;
}
